*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: bisque;
}

#try-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#try-button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  display: none;
}

body{
  background-color: rgb(104, 73, 35);
  width: 99vw;
  height: fit-content;
  overflow-x: hidden;
}

header{
  top: 0;
  text-align: center;
  margin: auto;
  padding: auto;
  background-color: #4CAF50;
  height: 40px;
  position: fixed;
  width: 100vw;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
 
}

header nav{
  color: darkorange;
  display: flex;
  gap: 50px;
  margin: auto;
  padding: 0 20%;
}

a{
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  flex-direction: column;
  width: auto;
  font-size: 18px;
  color: rgb(229, 255, 0);
}

a:hover{
  color: #fc0404;
  transition: all ease-in-out 1s;

}

main{
  margin-top: 30px;
  width: 100vw;
  padding: 20px 18%;
  
}

h2{
  padding: 0 0 10px 0;
  text-align: center;
}

h3{
  padding: 5px 0;
}

p{
  padding: 3px 0;
}

ul{
  list-style-type: none;
}

ul li{
  text-decoration: none;
}

.example{
  background-color: rgb(41, 37, 37);
  color: blanchedalmond;
  padding: 5px 0;
  margin: auto;
}

button{
  background-color: goldenrod;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  justify-content: right;
}

img{
  width: fit-content;
  height: 600px;
}

pre {
  max-width: 100%;
  overflow-x: auto;
  white-space: pre-wrap;
}

#back-to-top {
  display: none; /* Ocultar o botão inicialmente */
  position: fixed; /* Fixar o botão na posição desejada */
  bottom: 20px; /* Distância em relação à parte inferior da janela */
  right: 20px; /* Distância em relação à parte direita da janela */
  background-color: #000; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  padding: 10px; /* Espaçamento interno do botão */
  border-radius: 4px; /* Arredondamento das bordas do botão */
}

#back-to-top:hover {
  background-color: #333; /* Cor de fundo do botão ao passar o mouse */
}

footer{
  width: 100vw;
  background-color: #45a049;
  text-align: center;
}

@media screen and (max-width: 768px) {
  header {
    position: sticky;
    top: 0;
  }
}